<template>
<div class="calc">
  <div class="container">
    <h1>Calculator</h1>
  <div class="row align-items-center">
    
    
    <div class="col text-center">
     <label>Winter:</label>  <input type="checkbox" v-model="winterSeason">
      <br />
      <label>Number of Guests: </label>
      <input type="text" v-model="numberOfGuests">
      <br />
      <label>Number of Nights: </label>
      <input type="text" v-model="numberOfNights">
      <br />
      <label>Breakfast: </label>
      <input type="checkbox" v-model="breakfast">
      <br />    
    </div>
 
  <div class="col">

  <div class="list-group text-center">
  <button v-for="room in roomA" v-bind:key="room.id" v-on:click="changeStatus(room)" type="button" class="list-group-item list-group-item-action" v-bind:class="{active:room.active }">
    {{room.name}} 
  </button>
</div>

    </div>   
 
    </div>
<div class="row">
     <div class="col bg-dark ">
      <h3>Tourist Tax:</h3>
    <p> {{numberOfGuests}} Guest/s * {{tax}} CZK * {{numberOfNights}} Night/s = {{totalTouristTax("CZ")}} CZK </p>
         <p> {{numberOfGuests}} Guest/s * {{taxEu}} EUR * {{numberOfNights}} Night/s = {{totalTouristTax("EU")}} EUR </p>

       <div v-if="breakfast">
         <h3>Breakfast:</h3>
         <p>{{numberOfGuests}} Guest/s * {{breakfastCz}} CZK = {{breakfastPrice("CZ")}} CZK</p>
         <p>{{numberOfGuests}} Guest/s * {{breakfastEu}} EUR = {{breakfastPrice("EU")}} EUR</p>
       </div>
   <h3>Rooms:</h3>
      <p v-for="room in roomA" v-bind:key="room.id" v-if="room.active">{{room.name}} * {{numberOfNights}} Nights * <b>(W:{{room.priceEuW}}EUR={{room.priceCzW}} CZK || S:{{room.priceEuS}}EUR={{room.priceCzS}} CZK)</b></p>
   <h3>Price:</h3>
   <p><b> {{roomTotalPriceCz}}</b> CZK</p>
   <p><b> {{roomTotalPriceEu}}</b> EUR </p>
    </div> 
  </div>

  </div>
</div>
</template>

<script>
import Firebase from "firebase";
let config = {
  apiKey: "AIzaSyDtW3-PTaufmsP7qsFZKtoAK1lVreHDGvY",
  authDomain: "oweschool-b1a68.firebaseapp.com",
  databaseURL: "https://oweschool-b1a68.firebaseio.com",
  projectId: "oweschool-b1a68",
  storageBucket: "oweschool-b1a68.appspot.com",
  messagingSenderId: "1072731856839"
};
let app = Firebase.initializeApp(config);
let db = app.database();
let roomsRef = db.ref("rooms").orderByKey();
let pricesRef = db.ref("prices");
export default {
  name: "Calc",
  data() {
    return {
      winterSeason: true,
      roomA: [],
      breakfast: false,
      numberOfGuests: 0,
      numberOfNights: 0,
      tax:0, taxEu:0,
      breakfastCz:0,
      breakfastEu:0,
    };
  },
  firebase: {
    prices: pricesRef
  },
  computed:
    
   {
      roomTotalPriceCz() {
      var total = 0;
      if (this.numberOfNights > 0) {
        if (this.winterSeason) {
          this.roomA.forEach(function(r) {
            if (r.active) {
              total += r.priceCzW;
            }
          });
        } else {
          this.roomA.forEach(function(r) {
            if (r.active) {
              total += r.priceCzS;
            }
          });
        }
      }
            total*=this.numberOfNights;
          total+= this.totalTouristTax("CZ");
      if (this.breakfast == true) return total + this.breakfastPrice("CZ");
      else return total;
    },
    roomTotalPriceEu() {
      var total = 0;
      if (this.numberOfNights > 0) {
        if (this.winterSeason) {
          this.roomA.forEach(function(r) {
            if (r.active) {
              total += r.priceEuW;
            }
          });
        } else {
          this.roomA.forEach(function(r) {
            if (r.active) {
              total += r.priceEuS;
            }
          });
        }
      }
        total*=this.numberOfNights;
      total += this.totalTouristTax("EU");

      if (this.breakfast == true) return total + this.breakfastPrice("EU");
      else return total ;
    }


  },
  methods: {
    changeStatus: function(s) {
      s.active = !s.active;
    },
    breakfastPrice: function(cur) {
      if (cur == "CZ") {
        return (
          this.numberOfGuests * this.numberOfNights * this.breakfastCz
        );
      } else {
        return (
          this.numberOfGuests * this.numberOfNights * this.breakfastEu
        );
      }
    },
      totalTouristTax(cur) {
          if (cur == "CZ")
              return this.numberOfNights * this.numberOfGuests * this.tax;
          else
          {return this.numberOfNights * this.numberOfGuests * this.taxEu;}
      }
  },
  created: function() {
    let pole = [];
    roomsRef.once("value").then(function(snapshot) {
      snapshot.forEach(function(childSnapshot) {
        var childData = childSnapshot.val();
        let room = {
          id: childData.key,
          active: false,
          beds: childData.beds,
          name: childData.name,
          priceCzS: childData.priceCzS,
          priceEuS: childData.priceEuS,
          priceCzW: childData.priceCzW,
          priceEuW: childData.priceEuW
        };
        pole.push(room);
      
      });
    });
    this.roomA = pole;

   // Load prices
    pricesRef.once("value").then((snapshot)=>
      {
          this.breakfastCz= snapshot.val().breakfastCz;
          this.breakfastEu= snapshot.val().breakfastEu;
          this.tax = snapshot.val().taxCz;
          this.taxEu= snapshot.val().taxEu;

      });

  }
};
</script>

<style scoped>
h3 {
  text-align: left !important;
}
.bg-dark{

  text-align: center;
    color: white;
}
.isActive {
  background-color: green !important;
  border-color: green;
}

.total {
  font-size: 25px;
  color: red;
}

.centerDiv {
  align-items: center;
  justify-content: center;
}
.myButton {
    background-color: blue;
    border-color: black;
    color: white;
}
h1
{margin-top: 75px}

</style>
