<template>
   <div id ="mainPage">
      <div class = "page-header">
       <h1>Privat Jana</h1>
          <p>Accomodation in the heart of Krkonoše</p>
      </div>
    <div id ="carousel">

        <b-carousel id="carousel2"
                    style="text-shadow: 1px 1px 2px #333;"
                    controls
                    indicators
                    background="#FFFFFF"
                    :interval="3500"
                    v-model="slide"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd"
        >


            <b-carousel-slide >

            <img slot="img" class="d-block img-fluid w-100"
                 src="../assets/first.jpg" alt="image slot 1 ">

        </b-carousel-slide>
            <b-carousel-slide>

                <img slot="img" class="d-block img-fluid w-100"
                     src="../assets/second.jpg" alt="image slot 2 ">

            </b-carousel-slide>
            <b-carousel-slide>

                <img slot="img" class="d-block img-fluid w-100"
                     src="../assets/third.jpg" alt="image slot 3 ">

            </b-carousel-slide>



        </b-carousel>


    </div>
       <div class="container-fluid">
           <div class="row center-row blocks bg-dark info">
               <div class="col-lg-4">
                   <h2>Reservation</h2>
                   <p>Use Booking.com to reservate a room in our accomodation</p>

                   <div class="center-button"><a target="_blank" href="https://www.booking.com/hotel/cz/privat-jana.cs.html" class="btn btn-primary">Reservate</a></div>
                   </div>
               <div class="col-lg-4">
                   <h2>We offer</h2>

                   <ul>
                       <li>15 beds + 4 additional beds in 5 rooms.</li>
                       <ul>
                           <li>Family room with bathroom (5 beds)</li>
                           <li>Quadruple room with shared bathroom (4 beds)</li>
                           <li>Twin room with shared bathroom (2 beds)</li>
                           <li>Twin room with bathroom (2 beds)</li>
                           <li>Twin room with bathroom (2 beds)</li>
                       </ul>
                       <li>Bar with Saloon</li>
                       <li>Parking near Pension</li>
                       <li>Pension is ideal for family and groups</li>
                       <li>You can bring your own dog after agreement with us.</li>

                   </ul>

               </div>
               <div class="col-lg-4">
                   <h2>Contact</h2>
                   <ul>
                       <li>Stanislav Mádr</li>
                       <ul>
                           <li>+420 605 484 918</li>
                           <li>standa.madr@gmail.com</li>
                       </ul>

                   </ul>

               </div>
           </div>
       </div>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4109.238167116054!2d15.819119696713267!3d50.654366875602186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470eed9843c67195%3A0x50dd1cb89daaaa8d!2sPrivat+Jana!5e0!3m2!1scs!2scz!4v1524452041922"
               width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>



</template>

<script>
    export default {
        name: "main-page",
        data () {
            return {
                slide: 0,
                sliding: null
            }
        },
        methods: {
            onSlideStart (slide) {
                this.sliding = true
            },
            onSlideEnd (slide) {
                this.sliding = false
            }
        }
    }
</script>

<style scoped>
#carousel img
{
    height: 100%;

    width: auto;
}
 #carousel
 {
     position: relative;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 1;
 }

.page-header {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    color: #ffffff;
}
.page-header h1
{
    font-size: 120px;
    margin-bottom: 30px;
}
    #mainPage
    {

        height: 100%;
    }
.info
{
    color: white;

}
.col
{
  margin-left: 100px;
}
h1
{
    font-family: Kaushan Script;
}
</style>