<template>
<div class="room">
    <p>Tady</p>
</div>
</template>

<script>
export default {
  name: 'Room',
  data() {
    return {
    }
  },
  computed: {

  },
  methods: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
