<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark black ">
      <router-link class="navbar-brand" to="/">Privat Jana</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/calc">Price Calculator</router-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rooms
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item" to="/room">Room 1</router-link>
              <a class="dropdown-item" href="#">Room 2</a>
              <a class="dropdown-item" href="#">Room 3</a>
              <a class="dropdown-item" href="#">Room 4,5</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>


<router-view></router-view>

  </div>
</template>

<script>
import Calc from './components/calc'
import Room from './components/room'
import mainPage from './components/mainPage'

export default {

  name: 'App',
  components: {
    Calc,
    Room,
    mainPage

  }
}
</script>

<style>
.black
{
  background-color: black;
  color:white;
}
</style>
